.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  overflow: auto;
  height: calc(100vh - 150px);
  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__description {
    margin-bottom: 24px;
  }
  &__input {
    display: flex;
    input {
      width: 805px;
      height: 64px;
      border: 3px solid #4F27BF;
      border-radius: 10px;
      font-size: 20px;
      padding-left: 24px;
      &:focus-visible {
        outline: none;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 217px;
      min-width: 150px;
      height: 70px;
      border: none;
      background: #4F27BF;
      border-radius: 10px;
      margin-left: 24px;
      font-size: 26px;
      line-height: 32px;
      font-weight: 700;
      color: white;
      &:hover {
        background: #4f27bfcc;
      }
      svg {
        font-size: 32px;
        margin-right: 16px;
      }
    }
    .btn-disabled {
      background: #6c6c6c;
      cursor: default;
    }
  }
  &__result {
    max-width: 1076px;
    margin-top: 32px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(2, 0, 97, 0.25);
    border-radius: 10px;
    &-title {
      font-size: 26px;
      font-weight: 700;
      color: #000000;
      padding: 24px 0 16px 24px;
    }
    &-address {
      display: flex;
      flex-direction: column;
      margin:0 24px;
      line-height: 55px;
      color: #000000;
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #D7D7D7;
      }
    }
  }
  &__error {
    color: red;
  }
}

@media only screen and (max-width: 900px) {
  .search__input button span{
    display: none;
  }
  .search__input button {
    max-width: 0;
    min-width: 70px;
    margin-left: 10px;
  }
  .search__input button svg {
    margin-right: 0;
  }
  .search__input input {
    max-width: 330px;
    min-width: 330px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .search__input input {
    min-width: inherit;
  }
  .search{
    padding-left: 100px;
  }
}
@media only screen and (max-width: 560px) {
  .search__input input {
    font-size: 11px;
  }
  .search__input button {
    min-width: 50px;
  }
}
